*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'test', sans-serif;;
}

@font-face {
    font-family: 'test';
    src: url('../assets/PorscheNext-Regular.otf');
}

#carousel-js{
    width: 100%;
    height: 78vh;
    margin-top: 10vh;
}

.texte-modeles{
    font-size: 3em;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 150px;
    padding-bottom: 10px;
    width: auto;
}

#footer{
    margin-top: 10vh;
}

.texte-porsche{
    font-size: 3em;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 150px;
    width: auto;
}

@media screen and (max-width: 768px) {
    .texte-modeles{
        font-size: 2em;
        margin-left: 20px;
        width: auto;
    }

    .texte-porsche{
        font-size: 2em;
        margin-left: 20px;
        width: auto;
    }
}